<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Mail Sign in</title>
</head>
<body>
    <main>
        <div class="container-form">
            <img src="https://www.iconpacks.net/icons/1/free-mail-icon-142-thumb.png" alt="mail icon">
            <form action="/" method="post" class="signin">
                <p>Sign in to my Newsletter.</p>
                <input name="Fname" type="text" autocomplete="none" placeholder="First name" required>
                <input name="Lname" type="text" autocomplete="none" placeholder="Last name" required>
                <input name="email" type="text" autocomplete="none" placeholder="Email address" required>
                <button type="submit">Sign in</button>
                <h5>© Valgas 2022</h5>
            </form>
        </div>
    </main>
</body>
</html>